.text-input {
  label {
    display: block;
  }

  input,
  textarea {
    width: 100%;
    margin-top: 4px;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #cad1d7;
    color: #8898aa;
    border-radius: 4px;
    outline: 0;
    &:focus {
      border-color: darken(#cad1d7, 50%);
    }
  }

  textarea {
    resize: none;
  }

  &:not(:first-of-type) {
    margin-top: 16px;
  }
}
