.detail {
  .content {
    padding: 24px;
  }
  p {
    margin-top: 16px;
  }
  .author {
    padding-top: 32px;
    padding-bottom: 16px;
    h3 {
      padding-bottom: 8px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba(0,0,0,.5);
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      li {
        padding-top: 12px;
        padding-bottom: 12px;
        display: flex;
        &:not(:last-child) {
          border-bottom: 1px solid rgba(0,0,0,.1);
        }
        strong {
          flex: 2;
        }
        a, span {
          flex: 10;
        }
      }
    }
    a {
      color: #00cdac;
      margin-left: 4px;
    }
  }
}
