.header {
  padding-top: 43px;
  padding-bottom: 43px;

  &__menu {
    display: flex;
    align-items: center;
    color: #fff;
    nav {
      margin-left: 50px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        a {
          color: inherit;
        }
      }
    }
  }
}
