.social-media {
  display: flex;
  align-items: center;

  a {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }

    &::before,
    &::after {
      text-transform: none;
      font-size: 0.9em;
      line-height: 1;
      user-select: none;
      pointer-events: none;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: all 500ms;
    }

    &::before {
      content: '';
      border: 5px solid transparent;
      z-index: 1001;
    }
    &::after {
      content: attr(data-title);
      text-align: center;
      min-width: 3em;
      max-width: 21em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 1ch 1.5ch;
      border-radius: 0.3ch;
      box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
      background: #333;
      color: #fff;
      z-index: 1000;
    }

    &::before,
    &::before {
      bottom: 100%;
      border-bottom-width: 0;
      border-top-color: #333;
    }
    &::after,
    &::after {
      bottom: calc(100% + 5px);
    }
    &::before,
    &::after,
    &::before,
    &::after {
      left: 50%;
      transform: translate(-50%, -0.5em);
    }

    &:hover::before,
    &:hover::after {
      visibility: visible;
      opacity: 1;
    }
  }
}
