.list-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 28px;
  padding-bottom: 28px;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  @media (min-width: 992px) {
    align-items: center;
    flex-direction: row;
  }

  &__content {
    display: flex;
    align-items: center;
    @media (min-width: 992px) {
      flex: 2;
    }
    p {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  &__actions {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;

    @media (min-width: 576px) {
      justify-content: flex-start;
    }

    @media (min-width: 992px) {
      flex: 1;
      margin-top: 0;
      justify-content: flex-end;
    }

    .btn {
      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }
}
